.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em
}

/* table style */
.style table {
  border: 1px solid #ccc;
  width: 70%;
  margin:0 auto;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}
.style th {
  border-color: #666666;
  background-color: #e6e6e6;
  font-size: 14px;
  letter-spacing: 1px;
}
.style td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

/* image style */
.style img {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #e6e6e6;
}
  