.navigation {
  background-color:#FFFFFF;
  border-bottom: 3px solid #47A3DA;;
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  height: 40px;
}

.navigation ul {
  text-align: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-height: 100px;
  font-size: 1.25em;
}

.navigation li {
  display: inline-block;;
  align-items: center;
  margin: 0 1em;
}

.navigation a {
  color: currentColor;
}

.navigation li:hover {
  color: #47A3DA;
}

@media(min-width: 320px) {
  .navigation {
    width: 320px;
  }
}

@media(min-width: 360px) {
  .navigation {
    width: 360px;
  }
}

@media(min-width: 375px) {
  .navigation {
    width: 375px;
  }
}

@media(min-width: 414px) {
  .navigation {
    width: 414px;
  }
}

@media(min-width: 768px) {
  .navigation {
    width: 768px;
  }
}

@media(min-width: 834px) {
  .navigation {
    width: 834px;
  }
}

@media(min-width: 1024px) {
  .navigation {
    width: 1024px;
  }
}


@media(min-width: 1180px) {
  .navigation {
    width: 1180px;
  }
}

/* ref: https://tympanus.net/Blueprints/HorizontalDropDownMenu/ */
.menu {
  display: none;
  height: 40px;
  background-color: #47A3DA;
}