.navigation {
  background-color:#FFFFFF;
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  height: 40px;
}

.navigation ul {
  text-align: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-height: 100px;
  font-size: 1.25em;
}

.navigation li {
  display: inline-block;;
  align-items: center;
  margin: 0 1em;
}

.navigation a {
  color: currentColor;
}

@media(min-width: 350px) {
  .navigation {
    width: 350px;
  }
}


@media(min-width: 1000px) {
  .navigation {
    width: 1180px;
  }
}